<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apphealthy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppHealthy">
        <activity
            android:name=".JogingActivity"
            android:exported="true" />
        <activity
            android:name=".ProfilActivity"
            android:exported="true" />
        <activity
            android:name=".ManajemeWaktuActivity"
            android:exported="true" />
        <activity
            android:name=".PolaMakanActivity"
            android:exported="true" />
        <activity
            android:name=".MakananSehatActivity"
            android:exported="true" />
        <activity
            android:name=".OlahragaActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:label="Details"
            android:parentActivityName=".DagingActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".DagingActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>